/*

=========================================================
* Avenue CSS Kit v0.1
=========================================================

* Demo Page: 'https://astro-lane.chrstnl.com/'
* Copyright 2023 @chrstnl
* Coded by @chsrtnl

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

// Core CSS Reset/MISCS
@import "core/misc";

// Core Declarations
@import "core/variables";

// Core Layouts and Style Definitions
@import "core/general";
@import "core/typography";
@import "core/utilities";

// Core Plugins
// @import "plugins/plugin-tailwind";


// le reste faire par moi coucou
.horizontal-line {
  border-top: 1px solid black;
}

.vertical-line {
  border-left: 1px solid black;
  height: 100px; /* Adjust the height as needed */
}

.diagonal-line {
  position: relative;
  width: 100px; /* Adjust the width as needed */
  height: 0;
  border-bottom: 1px solid black;
  transform: rotate(45deg);
}

.content-container {
  position: relative;
  overflow: hidden;
}

.parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid red;
}

.parallax-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 0, 0);
  z-index: -1;
}

.content {
  margin-top: 550px; /* Adjust this value to create space for the parallax effect */
}

